---
const today = new Date();
---

<footer>
  <div class="footer-links">
    <p>
      Contact:
      <a href="mailto:warriordumps@gmail.com">warriordumps@gmail.com</a>
      &nbsp;|&nbsp;
      <a href="tel:14695975928">(469) 597-5928</a>
    </p>
  </div>
  <p class="copyright">&copy; {today.getFullYear()} Warrior Dumps. All rights reserved.</p>
</footer>

<style>
  footer {
    padding: 2em 1em 6em;
    background: #f8f9fb;
    color: #1c1f26;
    text-align: center;
    border-top: 1px solid #e4e6ea;
  }

  .footer-links {
    margin-bottom: 0.5em;
  }

  .footer-links a {
    color: #1c1f26;
    text-decoration: underline;
    font-weight: 500;
  }

  .footer-links a:hover {
    color: var(--accent, #c93f1d);
  }

  .copyright {
    font-size: 0.9em;
    opacity: 0.8;
  }
</style>
